DATABASE_URL=postgresql://user:password@localhost:5432/librairie_db
DATABASE_URL_TEST=postgresql://user:password@localhost:5432/librairie_test_db
SECRET_KEY=change-cette-cle-en-production
ALGORITHM=HS256
EXPIRATION_MINUTES=30
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=librairie_db
CORS_ORIGINS=http://localhost:3000